<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Free mobile app HTML landing page template to help you build a great online presence for your app which will convert visitors into users">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <title>Efyer Team - Event ticket verification app website</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet">
    <link href="/stylesheets/swiper.css" rel="stylesheet">
	<link href="/stylesheets/magnific-popup.css" rel="stylesheet">
	<link href="/stylesheets/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="/images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

 <!-- Navigation -->
 <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <a class="navbar-brand logo-image" href="/"><img src="images/logo.svg" alt="efyer logo"></a> 
    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/">HOME </a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/#features">FEATURES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/#preview">PREVIEW</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#pricing">PRICING</a>
                </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/#contact">CONTACT</a>
            </li>
            <%if(user){%>
                <li class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle page-scroll" href="/" id="userDropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user"></i> &nbsp;<%=user.firstname.toUpperCase()%></a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item active" href="/dashboard"><span class="item-text">DASHBOARD</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="/dashboard/settings"><span class="item-text">SETTINGS</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="/logout"><span class="item-text">LOGOUT</span></a>
                    </div>
                </li>
                <%}else{%>
                    <li class="nav-item">
                        <a class="nav-link " href="/join">JOIN</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="/login">SIGN IN</a>
                  </li>
                <%}%>
        </ul>
    </div>
</nav> <!-- end of navbar -->
<!-- end of navigation -->


<!-- end of signup -->
<div id="features" class="tabs">
    <div class="container">
        <div class="row">
                <div class="col-lg-12 rsp">
                        <div class="dropdown show float-left" id="grd">
                                <a class="btn btn-secondary "  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                </a>
                              
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    
                                    <%if(eventlist){%>
                                        <a class="dropdown-item" href="/dashboard" > + Create Event</a>
                                        <% eventlist.forEach(e => { %>
                                            <a class="dropdown-item" href="/dashboard/e/?id=<%=e.id%>&&q=<%=e.alias%>"><%=e.eventname%></a>
                                        <%});%>
                                        <%}%>
                                 </div>
                              </div>
                </div>

            <div class="col-lg-3">
                <nav class="nav flex-column  ">
                        <a href="/dashboard" class="nav-link px-4 ">
                            <i class="fa fa-bar-chart mr-2"></i> + Create Event
                        </a>
    
                    <%if(eventlist){%>
                        <% eventlist.forEach(e => { %>
                            <a href="/dashboard/e/?id=<%=e.id%>&&q=<%=e.alias%>" class="nav-link px-4"><%=e.eventname%></a>
                        <%});%>
                        <%}%>
                    </nav>
            </div> <!-- end of col -->
            <div class="col-lg-9">
                <%-messages('msgsuccess',locals) %>
                <h2>Create Event</h2>
                <div class="p-heading p-large">Create an event and start using the efyer app to verify your event tickets.</div>
                <div class="col-lg-6 offset-lg-3">
                
                <form action="/dashboard" method="POST">
                    <div class="form-group">
                        <label for="ename" class="col-form-label">Event Name <span class="fill">*</span></label>
                        <input type="text" class="form-control-input" name="ename"  <% if(data.ename){ %> value="<%=data.ename%>" <% } %> placeholder="enter event name">
                        <% if(errors.ename){ %><div class="help-block with-errors"><%=errors.ename%></div> <% } %>
                    </div>
                    <div class="form-group">
                        <label for="alias" class="col-form-label">Event alias <span class="fill">*</span></label>
                        <input type="text" class="form-control-input" name="alias"  <% if(data.alias){ %> value="<%=data.alias%>" <% } %> placeholder="enter alias here (5 characters maximum)" maxlength="5">
                        <% if(errors.alias){ %><div class="help-block with-errors"><%=errors.alias%></div> <% } %>
                    </div>
                    <div class="form-group">
                        <label for="sdate" class="col-form-label">Event Start Date <span class="fill">*</span></label>
                        <input type="date" class="form-control-input" name="sdate" >
                        <% if(errors.sdate){ %><div class="help-block with-errors"><%=errors.sdate%></div> <% } %>
                        <% if(wrdate){ %><div class="help-block with-errors"><%=wrdate%></div> <% } %>
                    </div>
                    <div class="form-group">
                        <label for="edate" class="col-form-label">Event End Date <span class="fill">*</span></label>
                        <input type="date" class="form-control-input" name="edate" >
                        <% if(errors.edate){ %><div class="help-block with-errors"><%=errors.edate%></div> <% } %>
                    </div>
                    <div class="form-group">
                            <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                        <button type="submit" class="form-control-submit-button">SAVE EVENT</button>
                    </div>
                    <div class="form-message">
                        <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>

            </div>
            </div>
        </div>  
    </div>
</div>

<!-- Footer -->
     <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-col">
                            <h4>About Efyer</h4>
                            <p>Efyer is an event ticket verification app which helps event organisers and check event attendees tickets if valid or not valid.</p>
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-md-4">
                        <div class="footer-col middle">
                           
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-md-4">
                        <div class="footer-col last">
                            <h4>Social Media</h4>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>
                        </div> 
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of footer -->  
        <!-- end of footer -->
    
    
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-small">Copyright © Efyer Team - Event ticket verification app by <a href="https://boticstechnologies.com">Botics Technologies</a></p>
                    </div> 
                </div> 
            </div> 
        </div> 
        
    
    
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script> 
    <script src="/javascripts/jquery.easing.min.js"></script> 
    <script src="/javascripts/swiper.min.js"></script> 
    <script src="/javascripts/jquery.magnific-popup.js"></script> 
    <script src="/javascripts/morphext.min.js"></script> 
    <script src="/javascripts/validator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/javascripts/scripts.js"></script> 
</body>
</html>